<p>create-song works!</p>
<form #songForm="ngForm" (ngSubmit)="createSong(songForm)" class="form-group">
  <div >
    <label >Name of music</label>
    <input type="text" class="form-control" ngModel name="name" >
  </div>
  <div >
    <label >Description of music</label>
    <input type="text" class="form-control" ngModel name="description" placeholder="description">
  </div>
  <div >
    <label >Example file music</label>
    <input type="file" class="form-control-file" ngModel name="link" >
  </div>
  <div >
    <label >Example file img</label>
    <input type="file" class="form-control-file" ngModel name="image" >
  </div>
  <input type="submit" class="btn btn-success mr-2" value="Create">
  <button type="button" class="btn btn-warning " routerLink="">Cancel</button>
</form>
