<p>create-song works!</p>
<form>
  <div class="form-group">
    <label for="name">Name of music</label>
    <input type="text" class="form-control" id="name" >
  </div>
  <div class="form-group">
    <label for="description">Description of music</label>
    <input type="text" class="form-control" id="description" placeholder="description">
  </div>
  <div class="form-group">
      <label for="musicFile">Example file music</label>
      <input type="file" class="form-control-file" id="musicFile">
  </div>
  <div class="form-group">
    <label for="imgFile">Example file img</label>
    <input type="file" class="form-control-file" id="imgFile">
  </div>
  <button type="button" class="btn btn-outline-success">Success</button>
</form>
