<div class="site-section bg-light">
  <div class="container">

    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h2 class="font-weight-bold text-black">Tất cả bài hát</h2>
      </div>
    </div>

    <div class="d-block d-md-flex podcast-entry bg-white mb-5" *ngFor="let song of songList">
      <div class="col-md-4">
        <img src="{{song.image}}" class="card-img" style="position: relative; height: 100%">
      </div>
      <div class="text">

        <h2 class="font-weight-light" [routerLink]="['detail-song', song.id]">
          {{song.name}}
        </h2>
        <p class="mb-4">{{song.description}}</p>

        <div class="media-footer">
          <mat-toolbar>
            <mat-toolbar-row *ngIf="!playSong[song.id]">
              <button mat-button (click)="play(song)" [disabled]="state?.error" >
                <mat-icon mat-list-icon>play_circle_filled</mat-icon>
              </button>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="playSong[song.id]">
              <button mat-button (click)="play(song)" [disabled]="state?.error" *ngIf="!state?.playing">
                <mat-icon mat-list-icon>play_circle_filled</mat-icon>
              </button>
              <button mat-button (click)="pause()" *ngIf="state?.playing">
                <mat-icon mat-list-icon>pause</mat-icon>
              </button>
              <span style="font-size: 15px" *ngIf="!state?.playing && currentTime==0">00:00:00</span>
              <span style="font-size: 15px" *ngIf="state?.playing || currentTime!=0">{{ state?.readableCurrentTime }}</span>
              <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime"
                          (input)="onSliderChangeEnd($event)"
                          [disabled]="state?.error">
              </mat-slider>
              <span style="font-size: 15px" *ngIf="!state?.playing && currentTime==0">00:00:00</span>
              <span style="font-size: 15px" *ngIf="state?.playing || currentTime!=0">{{ state?.readableDuration }}</span>
              <div style="padding-left: 2rem">
              <span *ngIf="!onVolume">
                <span class="glyphicon glyphicon-volume-off" (click)="turnOnVolume()"> </span>
              </span>
                <span *ngIf="onVolume">
                  <span class="glyphicon glyphicon-volume-up" (click)="turnOffVolume()"></span>
                </span>
                <mat-slider class="volume-slider" min="0" [max]="100" step="1" [value]="volume"
                            (input)="onChangVolume($event)"></mat-slider>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </div>
    </div>
  </div>
</div>
