<a routerLink="/">Home</a>
<div class="text-center">
  <h2>Add Singer</h2>
</div>
<div *ngIf="messageSuccess" class="alert alert-success">
  <p>{{messageSuccess}}</p>
</div>

<div *ngIf="messageError" class="alert alert-danger">
  <p>{{messageError}}</p>
</div>

<form #awesomeForm="ngForm" (ngSubmit)="add(awesomeForm.value)">
  <label class="col">
    Name:
    <input type="text" name="name" ngModel class="form-control">
  </label>
  <label class="col">
    Image:
    <input type="text" name="image" ngModel class="form-control">
  </label>
  <div class="col">
    <button class="btn btn-info" type="submit">Add</button>
  </div>
</form>
