<a routerLink="/">Home</a>
<div class="text-center">
  <h2>Edit</h2>
</div>

<div *ngIf="messageSuccess" class="alert alert-success">
  <p>{{messageSuccess}}</p>
</div>

<div *ngIf="messageError" class="alert alert-danger">
  <p>{{messageError}}</p>
</div>

<form #aweForm="ngForm" (ngSubmit)="save(aweForm.value)">
  <label class="col">
    <input type="hidden" [(ngModel)]="singer.id" name="id" ngModel class="form-control"/>
  </label>
  <label class="col">
    Name
    <input type="text" [(ngModel)]="singer.name" name="name" ngModel class="form-control"/>
  </label>
  <label class="col">
    Image:
    <input type="text" [(ngModel)]="singer.image" name="image" ngModel class="form-control"/>
  </label>
  <div class="col">
    <button class="btn btn-info" type="submit">Update</button>
  </div>
</form>
