<hr>
<div class="row text-center padding">
  <div class="col-12">
    <h2>Muốn xin chữ kí thì, gặp mặt thì ở đây</h2>
  </div>
  <div class="col-12 social">
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
<div class="container-fluid padding">
  <div class="row text-center">
    <div class="col-md-4">
      <h5>Liên hệ</h5>
      <hr class="light">
      <p>0123456789</p>
      <p>thantien@gmai.com</p>
      <p>Số 23, Lô TT01, khu đô thị Mon City, Mỹ Đình, Tp.Hà Nội</p>
    </div>
    <div class="col-md-4">
      <h5>Giờ làm việc</h5>
      <hr class="light">
      <p>Cầy lever: 5h - 10h</p>
      <p>Giờ trainteam: 12h-5h</p>
    </div>
    <div class="col-md-4">
      <h5>Dịch vụ</h5>
      <hr class="light">
      <p>Làm nhạc</p>
    </div>
    <div class="col-12">
      <hr class="light-100">
      <h5>Đội Hỏa Tiễn &copy; 2019</h5>
    </div>
  </div>
</div>


