.fa-facebook {
  color: #3B5998;
}
.fa-youtube {
  color: #bb0000;
}
.fa-twitter {
  color: #1DA1F2;
}
.fa-google-plus-g {
  color: #EA4335;
}
.fa-instagram {
  color: black;
}
.social a {
  font-size: 3em;
  padding: 3rem;
}
