<hr>
<div class="row text-center padding">
  <div class="col-12">
    <h2>Muốn xin chữ kí thì, gặp mặt thì ở đây</h2>
  </div>
  <div class="col-12 social padding">
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
<div class="container-fluid padding">
  <div class="row text-center">
    <div class="col-md-4">
      <img src="http://itplus-academy.edu.vn/upload/b7ad33828b0773d8f301805541d453df/files/java/%E1%BA%A2nh/33b869f90619e81763dbf1fccc896d8d--lion-logo-modern-logo.jpg" height="50px">
      <hr class="light">
      <p>0123456789</p>
      <p>thantien@gmai.com</p>
      <p>Bana Street, Câc, Nana</p>
    </div>
    <div class="col-md-4">
      <h5>Giờ làm việc</h5>
      <hr class="light">
      <p>Cầy lever: 5h - 10h</p>
      <p>Giờ trainteam: 12h-5h</p>
    </div>
    <div class="col-md-4">
      <h5>Dịch vụ</h5>
      <hr class="light">
      <p>Đâm chém thuê</p>
      <p>Đòi nợ thuê</p>
    </div>
    <div class="col-12">
      <hr class="light-100">
      <h5>Thiếu Soái &copy; 2019</h5>
    </div>
  </div>
</div>
