<div class="container">
  <mat-toolbar color="primary" class="main-toolbar">
    <div style="position: relative; width: 97%">{{song.name}}</div>
    <div *ngIf="isSinger" style="position: relative; width: 3%; float: right">
      <a  lass="glyphicon glyphicon-remove" [routerLink]="['delete-song',song.id]"
         style="color: #bb0000; font-size: 200%"></a>
    </div>
  </mat-toolbar>
  <div class="content">
    <div class="logo">
      <img src="{{song.image}}" style="position:relative; width: 30%; height: 30%;">
      <div>{{song.description}}</div>
    </div>
  </div>
  <div class="media-footer">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button (click)="previous()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>
        <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-button (click)="pause()" *ngIf="state?.playing">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
        <button mat-button (click)="next()">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
        {{ state?.readableCurrentTime }}
        <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime"
                    (input)="onSliderChangeEnd($event)"
                    [disabled]="state?.error">
        </mat-slider>
        {{ state?.readableDuration}}
        <div style="padding-left: 2rem">
              <span *ngIf="!onVolume">
                <span class="glyphicon glyphicon-volume-off" (click)="turnOnVolume()"></span>
              </span>
          <span *ngIf="onVolume">
                  <span class="glyphicon glyphicon-volume-up" (click)="turnOffVolume()"></span>
                </span>
          <mat-slider class="time-slider" min="0" [max]="100" step="1" [value]="volume"
                      (input)="onChangVolume($event)" style="width: 10%!important; position: relative"></mat-slider>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

  </div>
</div>

