
<div>
  <nav class="navbar navbar-expand-md navbar-light bd-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-branch" href="#">
        <img src="http://photoservice.gamesao.vn/Resources/Upload/Images/Editor/30/Nh%E1%BB%AFng%20k%C3%BD%20%E1%BB%A9c%20kh%C3%B4ng%20th%E1%BB%83%20n%C3%A0o%20qu%C3%AAn%20v%E1%BB%81%20bi%E1%BB%87t%20%C4%91%E1%BB%99i%20R%20nh%C3%AD%20nh%E1%BB%91%20trong%20Pokemon/rocket.jpg" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <div class="custom-file">
            <form class="example" action="/action_page.php">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Connect</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

