
<div>
  <nav class="navbar navbar-expand-md navbar-light bd-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-branch" href="#">
        <img src="http://photoservice.gamesao.vn/Resources/Upload/Images/Editor/30/Nh%E1%BB%AFng%20k%C3%BD%20%E1%BB%A9c%20kh%C3%B4ng%20th%E1%BB%83%20n%C3%A0o%20qu%C3%AAn%20v%E1%BB%81%20bi%E1%BB%87t%20%C4%91%E1%BB%99i%20R%20nh%C3%AD%20nh%E1%BB%91%20trong%20Pokemon/rocket.jpg" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <div class="custom-file">
            <form class="example" action="/action_page.php">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Connect</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active" ></li>
      <li data-target="#slides" data-slide-to="1" ></li>
      <li data-target="#slides" data-slide-to="2" ></li>
      <li data-target="#slides" data-slide-to="3" ></li>
    </ul>
    <div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://github.com/NguyenViet07/img-zing/blob/master/1.jpg?raw=true">
          <div class="carousel-caption">
            <h1 class="display-2">Maver</h1>
            <h3>Avenger</h3>
            <button type="button" class="btn btn-outline-light btn-lg">
              View Turtorials
            </button>
            <button type="button" class="btn btn-primary btn-lg">Get started</button>
          </div>
        </div>
        <div class="carousel-item ">
          <img src="https://github.com/NguyenViet07/img-zing/blob/master/2.jpg?raw=true"></div>
        <div class="carousel-item " class="img-fluid">
          <img src="https://github.com/NguyenViet07/img-zing/blob/master/3.jpg?raw=true"></div>
        <div class="carousel-item " class="img-fluid">
          <img src="https://github.com/NguyenViet07/img-zing/blob/master/4.jpg?raw=true"></div>
      </div>
    </div>
  </div> -->
</div>

