<h2>Bài hát nổi bật</h2>
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <p>name: Hãy Trao Cho Anh</p>
      <p>singer Sơn Tùng</p>
      <p>description</p>
      <audio></audio>
      <br>
    </div>
    <div class="col-lg-6">
      <img src="http://kenh14cdn.com/crop/640_360/2019/12/5/photo1562070771315-1562070771900-crop-1562070788898874611958-15755527951611137027236-crop-157555280281298082080.jpg" class="img-fluid">
    </div>
    <hr class="my-4">
  </div>
</div>
<h2>List new Song</h2>
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="http://afamilycdn.com/2019/8/29/rin3378bichphuong-copy-15670124601321264846894-1567070161078679754605.jpg" class="img-fluid">
        <div class="card-body">
          <h4 class="card-title">Đi Du Đưa Đi</h4>
          <p class="card-text">Trẻ trâu và vô cùng manh động. Tuy nhiên người đầy đồ chơi và cũng là thanh niên pk kinh nhất</p>
          <a href="#" class="btn btn-outline-secondary">Vào đây mà nhìn</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="img/dt2.png" class="img-fluid">
        <div class="card-body">
          <h4 class="card-title">Việt Nam Tôi</h4>
          <p class="card-text">Thực ra là một con khỉ nhưng cũng trẻ trâu và manh động. Có điều rất thông minh và có tài nên thường bị bắt đi thí mạng</p>
          <a href="#" class="btn btn-outline-secondary">Vào đây mà nhìn</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="img/dt.jpg" class="img-fluid">
        <div class="card-body">
          <h4 class="card-title">Tiến Quân Ca</h4>
          <p class="card-text">Quốc ca nước Cộng Hòa Xã Hội Chủ Nghĩa Việt Nam</p>
          <a href="#" class="btn btn-outline-secondary">Vào đây mà nhìn</a>
        </div>
      </div>
    </div>
  </div>
</div>

