<div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="navbar navbar-expand-md navbar-light bd-light">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              style="right: 0%;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">
              Trang chủ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ca sĩ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bài hát mới nhất</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bài hát yêu thích nhất</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
