<form [formGroup]="albumForm" (ngSubmit)="createAlbum()" class="form-group">
  <div *ngIf="uploadImageSuccess" class="alert-success alert">
    Upload Image Thành Công
  </div>
  <div *ngIf="uploadAudioSuccess" class="alert-success alert">
    Upload Audio Thành Công
  </div>
  <div *ngIf="(!uploadAudioSuccess && songForm.get('link').value != '') ||
        (!uploadImageSuccess && songForm.get('image').value != '')" class="alert alert-danger">
    Đang Upload. Xin vui lòng chờ trong giây lát!!!
  </div>
  <div >
    <label >Tên Album</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Tên Album">
  </div>
  <div class="alert alert-danger" role="alert"
       *ngIf="albumForm.get('name').value.trim() == '' && albumForm.get('name').touched">
    Tên Album không được để trống
  </div>
  <div class="alert alert-danger" role="alert"
       *ngIf="albumForm.get('name').value.trim().length < 6 && albumForm.get('name').touched">
    Tên Album phải dài hơn 6 ký tự
  </div>
  <div >
    <label >File ảnh đại diện Album</label>
    <input type="file" class="form-control-file" formControlName="image" (change)="uploadImage($event)">
  </div>
  <div class="alert alert-danger" role="alert"
       *ngIf="albumForm.get('image').invalid && albumForm.get('image').touched">
    Chưa chọn file ảnh
  </div>
  <div class="alert alert-danger" *ngIf="!checkImage">
    File đã chọn không phải file ảnh
  </div>
  <div style="padding-left: 10%">
    <h3>Thêm bài hát vào album</h3>
    <form [formGroup]="songForm" (ngSubmit)="createSong()" class="form-group">
      <div >
        <label >Tên bài hát</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Tên bài hát">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="songForm.value.name.trim() == '' && songForm.get('name').touched">
        Tên bài hát không được để trống
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="songForm.value.name.trim().length < 6 && songForm.get('name').touched">
        Tên bài hát phải dài hơn 6 ký tự
      </div>
      <div>
        <label >Mô tả bài hát</label>
        <textarea type="text" class="form-control" formControlName="description" placeholder="Mô tả bài hát" style="height: 300px"></textarea>
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="songForm.value.description.trim() == '' && songForm.get('description').touched">
        Mô tả chưa được điền
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="songForm.value.description.trim().length < 10 && songForm.get('description').touched">
        Mô tả phải dài hơn 10 ký tự
      </div>
      <div >
        <label >File bài hát</label>
        <input type="file" class="form-control-file" formControlName="link" (change)="uploadAudio($event)">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="songForm.get('link').invalid && songForm.get('link').touched">
        Chưa chọn file nhạc
      </div>
      <div class="alert alert-danger" *ngIf="!checkAudio">
        File đã chọn không phải file audio
      </div>
      <div >
        <label >File ảnh đại diện bài hát</label>
        <input type="file" class="form-control-file" formControlName="image" (change)="uploadImage($event)">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="songForm.get('image').invalid && songForm.get('image').touched">
        Chưa chọn file ảnh
      </div>
      <div class="alert alert-danger" *ngIf="!checkImage">
        File đã chọn không phải file ảnh
      </div>
      <input type="submit" class="btn btn-success mr-2" value="Thêm vào album">
      <button type="button" class="btn btn-warning " routerLink="">Hủy</button>
    </form>
  </div>
  <p>Danh sách bài hát trong album</p>
  <div class="card" style="width: 18rem;" *ngFor="let song of songList">
    <img src="{{song.image}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{song.name}}</h5>
    </div>
  </div>

  <input type="submit" class="btn btn-success mr-2" value="Thêm mới">
  <button type="button" class="btn btn-warning" routerLink="">Hủy</button>
</form>
