<form class="form-signin" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
  <h3>Đổi mật khẩu</h3>
  <div class="form-label-group">
    <input type="password" id="password" class="form-control" formControlName="password" placeholder="Mật khẩu mới" required autofocus>
    <label for="password">Mật khẩu mới</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="confirmPassword" formControlName="confirmPassword" (change)="enterNewpassword()" class="form-control" placeholder="Nhập lại mật khẩu mới" required>
    <label for="confirmPassword">Nhập lại mật khẩu mới</label>
  </div>
  <div *ngIf="!checkPassword && passwordForm.get('confirmPassword').touched" style="color: red">Mật khẩu không khớp</div>
  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đổi mật khẩu</button>
</form>
